@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

* {
    margin-top: 7%;
    padding: 0;
    background-color: #000000;
}

#login-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Edu NSW ACT Cursive";
    font-weight: 400;
    caret-color: transparent;
    cursor: default;
    background-color: transparent;

}

#Username, #Password {
    display: block;
    width: 20%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 19px;
    background-color: #333333;
    color: #ffffff;
    transition: 0.3s ease;
    caret-color: transparent;
}

#Button {
    display: block;
    width: 15%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 19px;
    background-color:#ffffff;
    color: #000000;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1%;
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-weight: 600;
    font-size: 13px;
    caret-color: transparent;
}

#Button:hover {
    background-color: #bebebe;
}

#Password:hover {
    border-color: #bebebe;
}

#Username:hover {
    border-color: #bebebe;
}

#ForgotPassword {
    display: inline;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.7s ease;
    margin-right: 9%;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    margin-left: 795px;
    caret-color: transparent;
}

#ForgotPassword:hover {
    color: #bebebe;
}

#SignUp {
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    transition: 0.7s ease;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    position: absolute;
    right: 820px;
    top: 364px;
    caret-color: transparent;
}

#SignUp:hover {
    color: #bebebe;
}